extends layout

append stylesheets
  link(rel="stylesheet", href="/stylesheets/index.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css")
block content
  div(ng-controller="indexController")
    | chat
append javascripts
  script(src="/javascripts/controller/indexController.js")